name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Model Training
        run: |
          python model.py

      - name: Run Tests
        run: |
          python test_app.py

      - name: Build Docker Image
        run: |
          docker build -t cicd-anomaly .
